<div class="container logFormCenter">
    <div class="row justify-content-center align-items-center g-2">
    <div class=" col-5 shadow-lg p-3 mb-5 bg-body rounded">
        <h1>Registration Form</h1>
        <form [formGroup] = "RegistrationForm" (ngSubmit) = "submit()" class="p-2 mb-2 ">
            <div class="mb-3">
                <label>First Name: </label> 
                <input type="text" name="firstName" class="form-control" formControlName = "firstName">
            </div>
        
            <div *ngIf = "f['firstName'].touched && f['firstName'].invalid">
                <div *ngIf = "f['firstName'].errors && f['firstName'].errors['required']">FirstName is required</div>
                <div *ngIf = "f['firstName'].errors && f['firstName'].errors['minlength']">FirstName should be minimum 3 characters long</div>
            </div>
            <div class="mb-3">
                <label>Name:</label>  
                <input type="text" name="lastName" class="form-control" formControlName = "lastName">    
            </div>
            <div class="mb-3">
                <label>Email: </label> 
                <input type="email" name="email" class="form-control" formControlName = "email">
            </div>    
            <div *ngIf = "f['email'].touched && f['email'].invalid">
                <div *ngIf = "f['email'].errors && f['email'].errors['required']">Email is required</div>
                <div *ngIf = "f['email'].errors && f['email'].errors['pattern']">Invalid email format</div>
                <div *ngIf = "f['email'].errors && f['email'].errors['emailDomain']">Email must be on gmail.com domain</div>
            </div>
            <div class="mb-3">
                <label>Password: </label> 
                <input type="password" name="password" class="form-control" formControlName = "password">
            </div>
            
            <div class="buttonsGroup" style="margin-top: 15px;">
                <button class="btn btn-primary" type="submit" [disabled] = "RegistrationForm.invalid" style="margin-right: 10px;">Submit</button>
                <button class="btn btn-primary" type="submit" (click)="Login()" >Login</button>
            </div>
        </form>
    </div>
</div>
</div>